/* Estilo general del contenedor */
.bg-container {
  background-color: #e1e1e1;
  min-height: 100vh;
  padding: 10px;
}

/* Estilo del encabezado */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.title {
  font-size: 1.25rem; /* Tamaño más pequeño */
  font-weight: bold;
  padding: 8px;
}

.breadcrumb {
  font-size: 0.875rem; /* Tamaño más pequeño */
  padding: 8px;
}

/* Estilo del contenedor de contenido */
.content-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

/* Estilo del formulario para agregar cuenta a la ruta */
.add-route-account-form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; /* Asegura que los campos estén uno encima del otro */
  gap: 16px; /* Añade espacio entre los campos */
}

.add-route-account-form mat-form-field {
  width: 200px; /* Define un tamaño fijo de 200px para los campos */
}

.add-route-account-form button {
  width: 200px; /* Define un tamaño fijo de 200px para el botón */
  background-color: #1e88e5; /* Color azul fresco */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-route-account-form button:hover {
  background-color: #1565c0; /* Azul más oscuro al pasar el ratón */
}

/* Estilo de los encabezados h2 */
h2 {
  font-size: 1.25rem; /* Tamaño reducido */
  font-weight: bold;
}

/* Estilo de la lista de cuentas */
.routes-list {
  margin-top: 20px;
}

.routes-list ul {
  list-style-type: none;
  padding: 0;
}

.routes-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 12px 15px;
  margin-bottom: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s;
}

.routes-list li:hover {
  background-color: #d1f0ff;
}

/* Estilo del mapa */
#map {
  height: 400px;
  width: 100%;
  margin-top: 20px;
}

/* Estilo del botón de navegación */
button.mat-button {
  background-color: #1e88e5; /* Color azul fresco */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 200px; /* Define un tamaño fijo de 200px para el botón */
}

button.mat-button:hover {
  background-color: #1565c0; /* Azul más oscuro al pasar el ratón */
}
