<h1 mat-dialog-title>Agregar Unidad de Venta</h1>
<div mat-dialog-content>
  <form [formGroup]="unitForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <input matInput formControlName="Description">
      <mat-error *ngIf="unitForm.controls['Description'].invalid">Descripción es requerida</mat-error>
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-button type="button" (click)="closeDialog()">Cancelar</button>
      <button mat-button type="submit" [disabled]="unitForm.invalid">Agregar</button>
    </div>
  </form>
</div>
