<div class="dialog-container">
  <h2>Editar Cliente</h2>
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>RNC/Cédula</mat-label>
      <input matInput formControlName="rnc_cedula" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tipo de Cuenta</mat-label>
      <input matInput formControlName="type_account" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nota</mat-label>
      <input matInput formControlName="note" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>País</mat-label>
      <input matInput formControlName="country" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ciudad</mat-label>
      <input matInput formControlName="city" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="address" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Teléfono 1</mat-label>
      <input matInput formControlName="phone1" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Teléfono 2</mat-label>
      <input matInput formControlName="phone2" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Latitud</mat-label>
      <input matInput formControlName="latitud" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Longitud</mat-label>
      <input matInput formControlName="longitud" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Límite de Crédito</mat-label>
      <input matInput formControlName="credit_limit" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Crédito Consumido</mat-label>
      <input matInput formControlName="credit_consumed" />
    </mat-form-field>
    <button mat-button type="submit" [disabled]="!clientForm.valid">Actualizar</button>
  </form>
</div>
