<div class="bg-dashboard min-h-screen p-10 fade-in">
    <div class="d-flex justify-content-between align-items-center mb-6">
        <h5 class="text-4xl font-bold text-gray-800">Dashboard</h5>
        <p class="text-lg text-gray-600">Atriux > Menú > Dashboard</p>
    </div>

    <div class="cards-container d-flex mb-6">
        <div class="flex-item">
            <div class="card radius-10 shadow-lg p-4">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0">Clientes Activos</p>
                        <h4 class="my-1 text-blue-500">{{ activeClients }}</h4>
                        <p class="mb-0 font-13"><i class='bx bxs-up-arrow align-middle'></i>12% Desde la semana pasada</p>
                    </div>
                    <div class="widgets-icons ms-auto"><i class='bx bxs-user'></i></div>
                </div>
            </div>
        </div>
        <div class="flex-item">
            <div class="card radius-10 shadow-lg p-4">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0">Órdenes</p>
                        <h4 class="my-1 text-blue-500">{{ totalOrders }}</h4>
                    </div>
                    <div class="widgets-icons ms-auto"><i class='bx bxs-package'></i></div>
                </div>
            </div>
        </div>
        <div class="flex-item">
            <div class="card radius-10 shadow-lg p-4">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0">Órdenes Completadas</p>
                        <h4 class="my-1 text-blue-500">{{ completedOrdersPercentage }}%</h4>
                        <div class="progress mt-2">
                            <div class="progress-bar bg-blue-600" [style.width.%]="completedOrdersPercentage"></div>
                        </div>
                    </div>
                    <div class="widgets-icons ms-auto"><i class='bx bxs-check-circle'></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class="cards-container d-flex mb-6">
        <div class="flex-item">
            <div class="card radius-10 shadow-lg p-4">
                <h4 class="font-semibold text-lg text-gray-700">Tiempos en Ruta</h4>
                <select class="form-control bg-gray-100" [ngModel]="selectedRouteId" (ngModelChange)="updateRoute($event)">
                    <option *ngFor="let route of routes" [value]="route.id">{{ route.description }}</option>
                </select>
                <canvas baseChart 
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [legend]="barChartLegend"
                        [type]="barChartType">
                </canvas>
            </div>
        </div>

        <div class="flex-item">
            <div class="card radius-10 shadow-lg p-4">
                <h4 class="font-semibold text-lg text-gray-700">Gráfico de Rutas</h4>
                <canvas baseChart 
                        [datasets]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [options]="doughnutChartOptions"
                        [legend]="true"
                        [type]="doughnutChartType">
                </canvas>
            </div>
        </div>

        <div class="flex-item">
            <div class="card radius-10 shadow-lg p-4">
                <h4 class="font-semibold text-lg text-gray-700">Estado de Órdenes</h4>
                <round-progress
                    [current]="pendingOrdersPercentage"
                    [max]="100"
                    [color]="'#FF6384'"
                    [background]="'#BCC4DC'"
                    [radius]="180"
                    [stroke]="30"
                    [semicircle]="false"
                    [rounded]="true"
                    [clockwise]="true">
                </round-progress>
                <div class="order-status-text mt-4">
                    <span class="block">Pendientes: 100%</span>
                    <span class="block">En Proceso: {{ inProgressOrdersPercentage }}%</span>
                    <span class="block">Completadas: {{ completedOrdersPercentage }}%</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-6">
        <div class="col">
            <div class="card radius-10 shadow-lg p-4">
                <h4 class="font-semibold text-lg text-gray-700">Historial de Transacciones</h4>
                <div class="table-responsive mt-4">
                    <table class="table align-middle mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>Fecha</th>
                                <th>Descripción</th>
                                <th>Monto</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01/01/2025</td>
                                <td>Agora</td>
                                <td>RD$ 200</td>
                                <td>Completado</td>
                            </tr>
                            <tr>
                                <td>02/01/2025</td>
                                <td>Plaza Lama</td>
                                <td>RD$ 150</td>
                                <td>Pendiente</td>
                            </tr>
                            <tr>
                                <td>03/01/2025</td>
                                <td>Hache</td>
                                <td>RD$ 250</td>
                                <td>En Progreso</td>
                            </tr>
                            <!-- Agregar más transacciones según sea necesario -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-6">
        <div class="col">
            <div class="card radius-10 shadow-lg p-4">
                <h4 class="font-semibold text-lg text-gray-700">Rutas en Mapa</h4>
                <div id="map" class="map-container" #mapContainer></div>
            </div>
        </div>
    </div>
</div>
