<div class="bg-[#e1e1e1] min-h-screen p-10"> 
    <div class="flex justify-between items-center mb-4"> <!-- Contenedor para el título y la etiqueta -->
        <h5 class="text-3xl font-bold p-2">Usuarios</h5>



        <p class="text-1xl p-2">Atriux > Menu > Usuarios</p>
    </div>

    <div data-fc-type="tab">
        <nav class="flex space-x-3 border-b" aria-label="Tabs">
            <button data-fc-target="#tabs-with-underline-1" type="button" class="fc-tab-active:font-semibold fc-tab-active:border-primary fc-tab-active:text-primary py-4 px-1 inline-flex items-center gap-2 border-b-2 border-transparent -mb-px transition-all text-sm whitespace-nowrap text-gray-500 hover:text-primary active">
                Activos
            </button>
            <button data-fc-target="#tabs-with-underline-2" type="button" class="fc-tab-active:font-semibold fc-tab-active:border-primary fc-tab-active:text-primary py-4 px-1 inline-flex items-center gap-2 border-b-2 border-transparent -mb-px transition-all text-sm whitespace-nowrap text-gray-500 hover:text-primary">
                Desactivados
            </button>
            <button data-fc-target="#tabs-with-underline-3" type="button" class="fc-tab-active:font-semibold fc-tab-active:border-primary fc-tab-active:text-primary py-4 px-1 inline-flex items-center gap-2 border-b-2 border-transparent -mb-px transition-all text-sm whitespace-nowrap text-gray-500 hover:text-primary">
                Grupos
            </button>
        </nav>
    </div>
    <div class="bg-white rounded shadow p-10">
        <div class="mb-4 flex flex-col sm:flex-row justify-between items-center"> <!-- Contenedor principal para los botones -->
            <!-- Filtro para seleccionar rol -->
            <select class="border border-gray-300 rounded-md p-2 w-full sm:w-[150px] mr-2">
                <option value="">Seleccionar Rol</option>
                <option value="admin">Administrador</option>
                <option value="employee">Empleado</option>
            </select>
        
            <!-- Campo de búsqueda para usuarios -->
            <div class="relative w-full sm:w-[500px]">
                <input 
                    type="text" 
                    placeholder="Buscar usuario..." 
                    class="border border-gray-300 rounded-md p-2 w-full" 
                />
                <mat-icon class="absolute right-2 top-2">search</mat-icon>
            </div>
        
            <!-- Botones para agregar usuario y grupo -->
            <div class="flex space-x-2 mt-2 sm:mt-0"> <!-- Contenedor para los botones de agregar -->
                <button (click)="openAddUserDialog()" class="flex items-center justify-center bg-[#f3f7fe] text-[#29abe2] border-none rounded-[8px] w-full sm:w-[150px] h-[45px] transition-[.3s] hover:bg-[#29abe2] hover:shadow-[0_0_0_5px_#3b83f65f] hover:text-white font-mono">
                    <mat-icon class="mr-2">add</mat-icon> Agregar Usuario
                </button>
                <!-- <button class="flex items-center justify-center bg-[#f3f7fe] text-[#29abe2] border-none rounded-[8px] w-full sm:w-[150px] h-[45px] transition-[.3s] hover:bg-[#29abe2] hover:shadow-[0_0_0_5px_#3b83f65f] hover:text-white font-mono">
                    <mat-icon class="mr-2">add</mat-icon> Agregar Grupo
                </button> -->
            </div>
        </div>


        <div class="overflow-x-auto">
            <table class="min-w-full bg-white border border-gray-300 rounded-lg shadow-md">
                <thead>
                    <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                        <th class="py-3 px-6 text-left">Nombre</th>
                        <th class="py-3 px-6 text-left">Contacto Info</th>
                        <th class="py-3 px-6 text-left">Grupo</th>
                        <th class="py-3 px-6 text-left">Acciones</th>
                    </tr>
                </thead>
                <tbody class="text-gray-600 text-sm font-light">
                    <tr *ngFor="let user of users" class="border-b border-gray-300 hover:bg-blue-100">
                        <td class="py-3 px-6">
                            <div class="flex items-center">
                                <div class="w-8 h-8 flex justify-center items-center rounded-md mr-2" style="background-color: #29abe2;">
                                    <span class="text-white">
                                        {{ user.first_name ? user.first_name.charAt(0) : '' }}{{ user.last_name ? user.last_name.charAt(0) : '' }}
                                    </span> <!-- Iniciales -->
                                </div>
                                {{ user.first_name }} {{ user.last_name }}
                                <br>
                                {{ user.rol_description }}
                            </div>
                        </td>
                        <td class="py-3 px-6"><b>{{ user.email }}</b><br>{{user.phone}}</td> <!-- Asegúrate de que ContactInfo esté definido en tu interfaz -->
                        <td class="py-3 px-6"><span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-red-100 text-red-800">Badge</span></td>
                        <td class="py-3 px-6">
                            <button class="text-blue-500 hover:text-blue-700" (click)="toggleOffcanvas(user)"><mat-icon>visibility</mat-icon></button>
                            <button class="text-blue-500 hover:text-blue-700" (click)="openEditUserDialog(user)"><mat-icon>edit</mat-icon></button>
                            <!-- <button class="text-blue-500 hover:text-blue-700"><mat-icon>block</mat-icon></button> -->
                            <button class="text-red-500 hover:text-red-700" (click)="onDeleteUser(user)"><mat-icon>delete</mat-icon></button>
                        </td>
                    </tr>
                </tbody>
            </table>

                    <!-- Offcanvas Menu -->
                    <div [ngClass]="{'translate-x-0': isOpen, 'translate-x-full': !isOpen}" 
                        class="fixed top-0 right-0 transition-transform duration-300 transform h-full max-w-xs w-full z-50 bg-white border-l dark:bg-gray-800 dark:border-gray-700">
                    <div class="flex justify-between items-center py-2 px-4 border-b dark:border-gray-700">
                        <h3 class="font-medium text-white"> 
                            <span class="text-blue-500">{{ selectedUser?.first_name }}</span> 
                            <span class="text-gray-300 ml-1">{{ selectedUser?.last_name }}</span> 
                        </h3>
                        <button class="inline-flex flex-shrink-0 justify-center items-center h-8 w-8 rounded-md text-gray-500 hover:text-gray-700 text-sm dark:text-gray-500 dark:hover:text-gray-400" (click)="toggleOffcanvas()">
                            <span class="material-symbols-rounded"><mat-icon>close</mat-icon></span>
                        </button>
                    </div>
                    
                    <div class="p-4 flex flex-col items-center">
                        <img src="/assets/images/user-avatar.png" style="width: 100px;" alt="Logo">
                        <div class="flex items-center mb-2"> 
                            <mat-icon class="mr-2 text-blue-600">admin_panel_settings</mat-icon>
                            <span class="text-blue-600">{{ selectedUser?.rol_description }}</span> <!-- Muestra rol -->
                        </div>
                        
                        <p class="text-gray-800 dark:text-gray-400 text-center">
                            Email: {{ selectedUser?.email }}<br>
                            Teléfono: {{ selectedUser?.phone }} <!-- Muestra más información si es necesario -->
                            Username: {{selectedUser?.username}}
                        </p>
                    </div>
                    <div class="p-4 flex flex-col items-center">
                        <button class="flex items-center justify-center bg-[#f3f7fe] text-[#29abe2] border-none rounded-[8px] w-full h-[45px] transition-[.3s] hover:bg-[#29abe2] hover:shadow-[0_0_0_5px_#3b83f65f] hover:text-white font-mono" (click)="handleClientsClick()">
                            <mat-icon class="mr-2">people</mat-icon> Clientes
                        </button>
                    </div>
                    </div>
            
        </div>


    <div class="flex justify-end mt-4">
        <mat-paginator
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 20]"
            aria-label="Select pagination">
        </mat-paginator>
    </div>
</div>

</div>

